@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

head {width: 99vw; margin: 0 auto;}
body {font-family: "Roboto Condensed", sans-serif;  font-family: "Nanum Gothic Coding", monospace;}

.clear {clear: both;}

#event {padding: 2rem;}
.event-head {width: 100%; }
.watching {float: right; padding-right: 0.5rem;}
.ev-banner {float: left; max-width: 33%;  height: auto; margin: 2rem 1rem 1rem 1rem; }
