body{
  background-color: black;
}

#fab {
  width: 42px;
  height: 42px;
  background-color: #7fd641;
  border-radius: 50%;
  position: sticky;
  top: 65vh;
  left: 100vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  #fab img {
    width: 30px;
    height: 30px;
    background-color: #7fd641;
  }



footer {
  height: 15vh;
  width: 65vw;
  margin: 0 auto 0 auto;
  border-top: 3px solid #7fd641;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

#foot {
  height: 4vh;
  width: 28vw;
  display: flex;
  flex-direction: column;
 
}

#interface{
    height: 4vh;
    width: 29vw;
    display: flex;
    flex-wrap: wrap;
}

#interface > li {
  display: inline-flex;
  text-align: center;
  margin: 0.3rem;
  padding-inline: 0.7rem;
  border-left: 3px solid #7fd641;

}
#interface > li:first-child {
  border-left: none;
  justify-content: center;
}
#interface > li > a{
  color: white;
}

#cdline{
  width: 20vw;
  height: 15vh;
  display: flex;
  justify-content: center space-between;
  align-items: center; 
  overflow: hidden; 
  margin: 0 10px;
  background-color: black;
  color: white;
 
}

#credit {
  width: 20vw;
  height: 15vh;
  position: relative;   
  text-align: center;
  justify-content: center;
  margin-right: 0.5rem;

}

.credit-content{
  width: 18vw;
  font-size: 0.9rem;
  justify-content: center;
  position: absolute;
  top: 100%;
  animation: scrollUp 15s linear infinite;

}
.cr{

  margin-top: 0.4rem;}

 

#line {
  height: 3vh;
  width: 11rem;
  position: relative;
  margin-right: 1rem;
  margin-top: 4px;
  font-size: 1px;
}
#line > select{
  border: 3px solid white;
  background-color: black;
  color: white;
}
#line > select > .placeholder-option {
  color: #7fd641;
}




@keyframes scrollUp {
  0% {
    top: 100%;
  }
  100% {
    top: -500%;
  }
}