#page_chart{
    padding-top: 2rem;
    padding-bottom:2rem;
    width: 99vw;
    margin: 0 auto;
}
#movie_chart{
    width : 68rem;
    margin: 0 auto;
}
.chart_name{
    width: 45%;
    float: left;
    margin-left: 0.8rem;
    margin-bottom: 2rem;
    
}
.view_all{
    float: right;
    width: 45%;
    text-align: right;
    font-size: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.clear{
    clear: both;
}

.chart_name button{
    border: none;
    background:none;
    font-size: 1rem;
    
}
li{
    list-style: none;

}
.chart_name li, .rank{
    display: inline-block;
}
.ranking{
    margin: 0 0 0 0.5rem;
}

.movie_name, .rank_num, .chart_name li h3{
    color: white;
}
.mchart {
    color: #7fd641;
}


.scheduled{
    color: white;
}


.view_all a{
    color: lightgray;
}
.movie_btn{
    position: relative;
    font-size: 1.5rem;
    margin-left: 0.7rem;
}
.chart_detail ,.movie_reserve{
    width: 6rem;
    height: 1.7rem;
    background-color: #7fd641;
    border: 3px;
    font-size: 1.1rem;
    margin-top: 5px;
    font-weight: bold;
    display: none;
    position: absolute;
    text-align: center;
   
}
.chart_detail {
    left: 43px;
    top: 85px;
  
}
.chart_detail a{
    background-color: transparent;
    color: white;
}

.movie_reserve {
    left: 43px;
    top: 125px;
   

}

.movie_reserve a{
    background-color: transparent;
}
.rank_num{
    left: 5px;
    top: 3px;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    background-color: transparent;
}
.movie_name{
    text-align: center;
    width: 190px;           
    white-space: nowrap;    
    overflow: hidden;       
    text-overflow: ellipsis;
    margin-top: 2px;
    padding-left: 10px;
    font-size: 1.2rem;
}
.movie_btn img{
    width: 180px;
    height:240px;
}
.rank{
    margin: 0 0.5rem 0 0.5rem;
}